input[type="radio"] {
  display: none;
}

.done-label {
  color: green;
}

.attention-label {
  color: red;
}

.progress-label-label {
  color: #ff9800;
}

.active-label:before {
  background: white;
  border-color: blue;
}

/**
 * Make those labels sexy
 */
.radio-label {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1;
  cursor: pointer;
  display: block;
  padding: 1rem 1rem 1rem 3rem;
  position: relative;
  border-top: 1px solid rgba(black, 0.1);
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.15s ease;
}

/**
   * This is the radio fake dot basically
   */
.radio-label::before {
  content: "";
  position: absolute;
  left: 1rem;
  top: 1rem;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 0.2rem solid #ccc;
}

.done:active {
  color: green;
}

.done:focus {
  color: green;
}

.done:hover {
  color: green;
}

.done:first-of-type {
  border: 0;
}

.done-input:checked + .done {
  color: green;
}

.done-input:checked + .done::before {
  border-color: white;
  border: none;
  background: green;
}

.attention:active {
  color: red;
}

.attention:focus {
  color: red;
}

.attention:hover {
  color: red;
}

.attention:first-of-type {
  border: 0;
}

.attention-input:checked + .attention {
  color: red;
}

.attention-input:checked + .attention::before {
  border-color: white;
  border: none;
  background: red;
}

.progress-label:active {
  color: #ff9800;
}

.progress-label:focus {
  color: #ff9800;
}

.progress-label:hover {
  color: #ff9800;
}

.progress-label:first-of-type {
  border: 0;
}

.progress-input:checked + .progress-label {
  color: #ff9800;
}

.progress-input:checked + .progress-label::before {
  border-color: white;
  border: none;
  background: #ff9800;
}

.back {
  font-weight: 700;
  color: #ff9800 !important;
}

.submit-btn {
  background-color: #ff9800 !important;
  color: #fff !important;
  font-weight: 700;
}
