html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
h4 {
  margin: 1.5rem 0 !important;
  line-height: unset;
}
p {
  margin: 0;
}

* {
  box-sizing: border-box;
}
.mb-3 {
  margin-bottom: 30px;
}
.custom-badge {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.text-center {
  text-align: center;
}
.unbold {
  font-weight: 200;
}
.custom-badge-bg-red {
  background-color: red;
}
.custom-badge-bg-orange {
  background-color: #ff9800;
}
.custom-badge-bg-green {
  background-color: green;
}
.toast.red {
  background-color: red !important;
}
.toast.green {
  background-color: green !important;
}
.toast.yellow {
  background-color: #ff9800 !important;
}
.log-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.view-log {
  display: block;
  width: 100%;
  color: black;
  text-decoration: underline;
}
.custom-list {
  display: flex;
  align-items: center;
  justify-content: stretch;
  grid-gap: 1rem;
}
.activity-heading-container {
  margin: 0 0 2rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}
.activity-heading {
  text-align: center;
  text-transform: capitalize;
  font-size: clamp(1.5rem, 2.5vw, 2.5rem);
}
.shadow {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}
/* label focus color */
.input-field input[type="text"]:focus + label {
  color: #ff9800;
}
/* label underline focus color */
.input-field input[type="text"]:focus {
  border-bottom: 1px solid #ff9800;
  box-shadow: 0 1px 0 0 #ff9800;
}

/* label focus color */
.input-field input[type="text"]:focus + label,
.materialize-textarea:focus:not([readonly]) + label {
  color: #ff9800 !important;
}

/* label underline focus color */
.input-field input[type="text"]:focus,
.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #ff9800 !important;
  box-shadow: 0 1px 0 0 #ff9800 !important;
}

ul.dropdown-content.select-dropdown li span {
  color: #000;
}

/*LOADER*/
.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #ff9800;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}

.log-card-title-wrapper {
  display: block;
  margin-left: 35px;
}

.log-card-title {
  font-weight: 700;
  margin-bottom: 0;
  font-size: 2rem;
}

.log-card-member {
  font-weight: 500;
}

.log-card-status {
  margin: 10px 0 10px 35px;
  display: block;
}

.log-card-status-title {
  margin: 25px 0 4px 0;
  font-size: 0.85rem;
  font-weight: 500;
  color: #5e6c84;
}
.status-box {
  width: 100%;
  margin: 5px 0;
  height: auto;
}
.status-box-tag {
  height: 32px;
  display: block;
  width: auto;
  border-radius: 3px;
  float: left;
  font-weight: 600;
  box-sizing: border-box;
  line-height: 30px;
  margin: 5px 0 35px 0;
  min-width: 40px;
  padding: 0 12px;
  text-transform: capitalize;
}

.log-card-status-done {
  background-color: green;
  color: white;
}

.log-card-status-progress {
  background-color: #ff9800;
  color: white;
}
.log-card-status-attention {
  background-color: red;
  color: white;
}

.log-card-description {
  clear: both;
  margin: 20px 0 0 0;
  display: block;
}

.title-badge {
  float: left;
  margin-right: 10px;
  margin-top: 3px;
}

.desc-header {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 30px;
}
.log-card-desc-content {
  clear: both;
  margin-top: 10px;
  margin-left: 35px;
  background-color: #9e9e9e;
  padding: 10px;
  line-height: 150%;
  color: white;
}

@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}
